
<%- include("partials/header.ejs") -%>


  <div class="IntroDiv">
    <h1>Weather</h1>
    <h3>I can predict the weather wherever you are!</h3>
  </div>

  <div class = "weatherContainer">
    <form action="/weather" method="post">
      <input id="weatherInput" autocomplete="off" type="text" name="city" value="" placeholder="Location">
      <br>
      <button class="rollButton" type="submit">Predict</button>
    </form>
    <div class="weatherResults">
    <img src="<%=resultIcon%>">
    <p><%=resultTemp%></p>
    <p><%=resultWeather%></p>
  </div>
  </div>





<%- include("partials/footer.ejs") -%>

</body>
</html>